body
	font-family: 'Gafata'
	margin: 0
	padding: 0
	background: skyblue

ul
	list-style-type: none

a
	text-decoration: none
	color: #000

.page-name
	margin-top: 15px
	margin-left: 50px

.navbar ul li
	display: inline-block
	text-transform: uppercase